
body {
    margin: 0;
}


* {
    background-color: hsla(212, 39%, 90%, 0.911);
}

p{
    background-color: #bbbfc9;
}

h1,h2{
    background-color: beige;
}

#bigFont{
    font-size: 28px;
}

.center {
    text-align:center;
}

h1{
    border: 5px solid #e5ff00;
    padding: 50px;
    margin: 100px;
}

@media (min-width: 650px) {
    body {
        background-color: aqua;
    }
}